:root,
::before,
::after {
  /* Colours */
  --primary: #526ed3;
  --primary-hover: #6c86e2;
  --primary-active: #314692;

  --secondary: #ebefff;
  --secondary-hover: #dfe3f3;
  --secondary-active: #d8ddf2;

  --accent: #ff7043;
  --accent-hover: #ff9a94;
  --accent-active: #e7716a;

  /* White to black color gradient */
  --base-01: #fff;
  --base-02: #f6f6f6;
  --base-03: #ededed;
  --base-04: #d7d7d7;
  --base-05: #b0b0b0;
  --base-06: #959595;
  --base-07: #808080;
  --base-08: #333;
  --base-09: #000;

  /* Text */
  --text-01: #1b1f3b;
  --text-02: rgba(27, 31, 59, 0.65);
  --text-03: rgba(27, 31, 59, 0.4);

  --link: var(--primary);
  --link-hover: var(--primary-hover);

  --positive: #3aa981;
  --positive-hover: #7ac5aa;

  --negative: #dd4c1e;
  --negative: #e38163;

  /* Statuses */
  --error-fill: #f45725;
  --error-bg: rgba(244, 87, 37, 0.12);
  --error-bg-hover: rgba(244, 87, 37, 0.24);

  --success-fill: #4ac99b;
  --success-bg: rgba(74, 201, 155, 0.12);
  --success-bg-hover: rgba(74, 201, 155, 0.24);

  --warning-fill: #ffc700;
  --warning-bg: rgba(255, 199, 0, 0.12);
  --warning-bg-hover: rgba(255, 199, 0, 0.24);

  --info-fill: #70b6f6;
  --info-bg: rgba(112, 182, 246, 0.12);
  --info-bg-hover: rgba(112, 182, 246, 0.24);

  --neutral-fill: #79818c;
  --neutral-bg: rgba(121, 129, 140, 0.12);
  --neutral-bg-hover: rgba(121, 129, 140, 0.24);

  /* Sizing */
  --default-size: 1rem; /* 16px */

  --size-xxxs: calc(0.0625 * var(--default-size)); /* 1px */
  --size-xxs: calc(0.125 * var(--default-size)); /* 2px */
  --size-xs: calc(0.25 * var(--default-size)); /* 4px */
  --size-s: calc(0.5 * var(--default-size)); /* 8px */
  --size-ms: calc(0.75 * var(--default-size)); /* 12px */
  --size-m: var(--default-size); /* 16px */
  --size-ml: calc(1.5 * var(--default-size)); /* 24px */
  --size-l: calc(2 * var(--default-size)); /* 32px */
  --size-xl: calc(4 * var(--default-size)); /* 64px */
  --size-xxl: calc(8 * var(--default-size)); /* 128px */
  --size-xxxl: calc(16 * var(--default-size)); /* 256px */

  /* Large Sizing */
  --size-lg-xxs: calc(10 * var(--size-xxs)); /* 20px */
  --size-lg-xs: calc(10 * var(--size-xs)); /* 40px */
  --size-lg-s: calc(10 * var(--size-s)); /* 80px */
  --size-lg-ms: calc(10 * var(--size-ms)); /* 120px */
  --size-lg-m: calc(10 * var(--size-m)); /* 160px */
  --size-lg-ml: calc(10 * var(--size-ml)); /* 240px */
  --size-lg-l: calc(10 * var(--size-l)); /* 320px */
  --size-lg-xl: calc(10 * var(--size-xl)); /* 640px */
  --size-lg-xxl: calc(10 * var(--size-xxl)); /* 1280px */

  /* Border Radius */
  --border-radius-default: var(--default-size);
  --border-radius-xs: var(--size-xs);
  --border-radius-s: var(--size-s);
  --border-radius-m: var(--size-m);
  --border-radius-l: var(--size-l);
  --border-radius-xl: var(--size-xl);
  --border-radius-circle: 50%; /* requires the element to have equal height and width for a perfect circle */

  /* Border Sizing */
  --border-xs: calc(var(--size-m) / 16); /* 1px */
  --border-s: calc(var(--size-m) / 8); /* 2px */
  --border-m: calc(var(--size-m) / 4); /* 4px */
  --border-l: calc(var(--size-m) / 2); /* 8px */
  --border-xl: calc(var(--size-m)); /* 16px */

  /* Box-Shadows */
  --box-shadow-01: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.12);
  --box-shadow-02: 0 1.5rem 1rem rgba(0, 0, 0, 0.03),
    0 0.75rem 0.75rem rgba(0, 0, 0, 0.04),
    0 0.25rem 0.375rem rgba(0, 0, 0, 0.05);
  --box-shadow-03: 0 1.125rem 1.875rem rgba(0, 0, 0, 0.48);
  --box-shadow-04: 0.25rem 0 1.5rem rgba(0, 0, 0, 0.12);
  --box-shadow-05: 0 0.75rem 2.25rem rgba(0, 0, 0, 0.2);
  --box-shadow-06: 0 0.125rem 1rem rgba(0, 0, 0, 0.08);
  --box-shadow-07: 0 -1rem 1.75rem rgba(0, 0, 0, 0.24);

  /* Spacing */
  --spacing-01: var(--size-xs);
  --spacing-02: var(--size-s);
  --spacing-03: var(--size-sm);
  --spacing-04: var(--size-m);
  --spacing-05: calc(var(--size-xs) + var(--size-m));
}
